.project {
  display:flex;
  justify-content:space-between;
  flex-direction:row;
  padding:30px;
}
.carousel{
  width:400px;
  height:600px;
}
.carousel-item > img {
  width: 400px;
  height:550px;
  background-size: 'contain';
}
.projectInfo{
  display:'flex';
  align-Items:'center';
  justify-Content:'center';
}

.django{
  width:700px !important;
  height:500px !important;
}

.data{
  width:600px !important;
  height:500px !important;
}
.git a:hover{
text-decoration: none;
}
.m{
  display:flex;
  flex-direction:row;
}
@media only screen and (max-width: 1256px) {
  .carousel {
    display: none;
  }
  .carousel-item > img {
    width:200px;
    height:400px;
    background-size: 'contain';
  }
  .django{
    width:500px !important;
    height:300px !important;
  }
  
  .data{
    width:400px !important;
    height:300px !important;
  }
  .test{
   visibility: hidden;
  }
  .description p {
    font-size: 20px;
  }
}